* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*REGION UTILITY*/

:root {
    --re-acent: #0184fc;
    --re-primary: #b5dcfe;
    --re-secondary: #9792e4;
    --re-lighter: #ffffff;
    --re-free: #f9bf65;
    --re-dark: #323332;
    --re-text: #607487;
}

.col-4 {
    width: calc((100% / 12) *4);
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: calc((100% / 12) *8);
}

.col-12 {
    width: 100%;
    border: 1px solid black;
}

[class^="col-"] {
    padding: 0.5rem
}

.phone-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-no-pad {
    text-align: center;
    padding: 1rem;
}

/*REGION COMMON*/

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 65%;
    max-width: 1176px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 -2rem;
    align-items: center;
}

.card {
    padding: 1.5rem;
    border-radius: 20px;
    text-align: center;
    height: 100%;
}



p {
    font-size: small;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
}

img {
    display: block;
}

.text-gray {
    color: var(--re-text);
}

.text-white {
    color: var(--re-lighter);
}

/*REGION SITE_HEADER*/

.menu-color {
    background-color: var(--re-acent);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 -1rem;
}

.logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fa-bars {
    color: var(--re-lighter);
    font-size: 1.5rem;
}

/* END REGION SITE_HEADER*/

/*REGION SITE_MAIN*/

.card-demo {
    background-color: var(--re-primary);
}

.card-phone {
    padding-bottom: 0px;
    text-align: start;

}

.demo-title {
    color: var(--re-acent);
    text-align: center;
}

.app-store {
    background-color: var(--re-acent);
    color: var(--re-lighter);
    padding: 10px 45px;
    border: none;
    border-radius: 20px;
    font-size: smaller;

    & .fa-apple {
        padding-right: 5px;
    }
}

.phone {
    padding-top: 2rem;
    width: 90%;
    margin: auto;
}

.fa-solid-demo {
    color: var(--re-acent);
    font-size: 5rem;
    padding-bottom: 1rem;
}

/*AND REGIO DEMO*/

/*REGION STRATEGIC*/
.strategic {
    background-color: var(--re-secondary);
}

.plan-1 {
    width: 90%;
    margin: auto;
}

.strategic-title {
    color: var(--re-lighter);
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.card-strategic {
    background-color: var(--re-lighter);
}

.plan-2 {
    width: 90%;
    margin: auto;
}

/* END REGION STRATEGIC*/


.testimonial-title{
    color: var(--re-secondary);
    font-size: 2rem;
    padding-top: 1rem;
}

.card-testimonial{
    background-color: var(--re-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.name-testimonial{
    color: var(--re-lighter);
}
/*REGION TESTIMONIALS*/

.benefits{
    background-color: var(--re-secondary);
}

.card-benefits{
    background-color: var(--re-lighter);
    text-align: left;
}
.benefit-title{
    color: var(--re-lighter);
    font-size: 2rem;
    padding-top: 1rem;
}

.n-benefit{
    font-size: 4rem;
    color: var(--re-secondary);
}

.type-benefit{
    color: var(--re-secondary);
}

.more{
    padding: 8px 35px;
    background-color: var(--re-secondary);
    color: var(--re-lighter);
    border: none;
    border-radius: 20px;
}
/*END REGION BENEFITS*/

.card-about{
   text-align: left;
}

.about-title{
    color: var(--re-secondary);
    font-size: 2.5rem ;
}

.card-about-2{
    text-align: left;
    position: relative;
}

.about-image{
    width:160px;
    height: 160px;
    border-radius: 50%;
}

.fa-quote-about{
    color: var(--re-secondary);
    font-size: 3rem;
    position: absolute;
    top:15px;
    left:138px;
}

.help-about{
    color: var(--re-secondary);
    font-size: large;
}

.find-me{
    color: var(--re-lighter);
    background-color: var(--re-secondary);
    padding: 5px;
    border: none;
    border-radius: 20px;
    margin-top: 0.5rem;
}
/*END REGION ABOUT*/

.started{
    background-color: var(--re-secondary);
}

.get-title{
    color: var(--re-lighter);
}

.free{
    color: var(--re-free);
    font-size: 3rem;
}

.simple{
    color: var(--re-lighter);
    font-size: 1.5rem;
    padding: 1rem;
}

.get-button{
    color:var(--re-secondary);
    background-color: var(--re-lighter);
    padding: 10px 40px;
    border:none;
    border-radius: 25px;
}

.Copyright{
    font-size: 0.5rem;
    color: var(--re-lighter);
    padding-top: 1rem;
}


/*REGION SITE_FOOTER*/

.foot {
    font-size: small;
    color: var(--re-lighter);
    background-color: var(--re-dark);
}

.boolean-careers {
    color: var(--re-secondary);

}

.lorem-footer {
    text-align: center;
    padding: 1rem 0;
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {

    .col-sm-8 {
        width: calc((100% / 12) *8);
      
    }

    .col-sm-4 {
        width: calc((100% / 12) *4);
       
    }

    .col-sm-6 {
        width: 50%;
    }

    .card-no-pad{
        padding: 0;
        padding-top:1rem;
    }

    .card-testimonial{
        flex-direction: row;
        text-align: start;
        gap: 2rem;
    }


}


@media screen and (min-width: 992px) {

    .container {
        width: 65%;
    }

    .col-md-4{
        width: calc((100% / 12) *4);
    }

    .col-md-6 {
        width: 50%;
    }

    .card-phone {
        display: flex;
        flex-direction: row;
    }

    .get-demo {
        padding-bottom: 1.5rem;
    }

    .phone {
        padding-bottom: 0;
    }

    .strategic-row {
        display: flex;
        align-items: end;
    }

    

}


@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
}